<style>
	.carddesign{
		background-image: url(https://images.unsplash.com/photo-1522441815192-d9f04eb0615c?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
	    background-size:cover;
		background-repeat: no-repeat;
	}
</style>
<div class="container pt-5">
	<div class="row">
		<div class="col"></div>
		<div class="col-6">
			<div class="card carddesign">
				<div class="card-header text-center">Sign Up</div>
				<div class="card-body">
					<form action="">
						<div class="row">
							<div class="col">
								<div class="Form-group mx-2 my-3">
									<label for="username">USER</label>
									<input type="text" class="form-control" id="username" placeholder="username"
									[(ngModel)]="username" name="username">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="Form-group mx-2 my-3">
									<label for="password">PASSWORD</label>
									<input type="text" class="form-control" id="pass" placeholder="password"
									[(ngModel)]="password" name="password" >
								</div>
							</div>
						
						</div>
						<div class="row">
							<div class="col">
								<div class="Form-group mx-2 my-3">
									<label for="email">EMAILID</label>
									<input type="text" class="form-control" id="EmailID" placeholder="email"
									[(ngModel)]="email" name="email">
								</div>
							</div>
							<div class="col">
								<div class="Form-group mx-2 my-3">
									<label for="phoneno">MOBILE NUMBER</label>
									<input type="tel" class="form-control" id="phoneno" placeholder="mobile number"
									[(ngModel)]="mobile" name="mobilenumber">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="Form-group mx-2 my-3">
									<label for="date">DATE</label>
									<input type="date" class="form-control" id="date" placeholder="date"
									[(ngModel)]="date" name="date">
								</div>
							</div>
						</div>
						<button type="button" class="btn btn-primary float-right" (click)="addBuyer()">Register</button>
					</form>
				</div>
			</div>
		</div>
		<div class="col">
		</div>
	</div>
</div>